$accent-green: #83C022;
$accent-orange: #EE7C11;
$accent-purple: #6844FC;
$accent-blue: #32BCD1;
$accent-pink: #F02F75;
$light: #FEFEFE;
$dark: #191C20;
$gradient-purple: #B195E4;
$gradient-green: #53FCA1;
$gradient-yellow: #EEEE77;
$input-bg: rgba(57, 63, 84, 0.8);
$input-color: #BFD2FF;
$input-color-faded: #7881A1;
