@import '../../constants/styles.scss';

.header {
    position: relative;
    font-family: 'Rock Salt', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1.5rem auto;
    text-align: center;
    width: fit-content;

    @media screen and (min-width: 1024px) {
        font-size: 3rem;
    }

    @media screen and (min-width: 1500px) {
        font-size: 3.5rem;
        margin: 2.5rem auto;
    }

    & span:first-of-type {
        color: $light;
        text-shadow: 0 0 32px rgba($color: $accent-green, $alpha: 0.5), 0 0 48px rgba($color: $accent-green, $alpha: 0.75);
    }

    & span:last-of-type {
        color: $accent-pink;
        text-shadow: 0 0 32px rgba($color: $accent-pink, $alpha: 0.5), 0 0 48px rgba($color: $accent-pink, $alpha: 0.75);
    }
}
