@import '../../constants/styles.scss';

.headerContainer {
    width: 100%;
    padding: 2rem 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    @media screen and (min-height: 800px) and (min-width: 1200px) {
        flex-direction: row;
        justify-content: initial;
        gap: 5rem;
        padding: 0 10rem 2rem;
    }
}

.header {
    font-family: 'Rock Salt', cursive;
    font-size: 2rem;
    font-weight: 700;
    color: $accent-pink;
}

.iconsContainer {
    display: inline-flex;
    gap: 1.5rem;
    flex: 1;
    align-items: center;
    margin-bottom: 1rem;

    @media screen and (min-height: 800px) and (min-width: 1200px) {
        gap: 1.75rem;
        margin-bottom: 0;
    }
}

.icon {
    cursor: pointer;
    filter: saturate(1);
    transition: filter 0.15s, transform 0.15s;

    &:hover {
        filter: saturate(0.25);
        transform: translateY(-0.25rem);
    }
}

.inputWrapper {
    @media screen and (min-height: 800px) and (min-width: 1200px) {
        margin-left: auto;
    }
}
