@import './constants/styles.scss';

.App {
    background: linear-gradient(40deg, $light 0%, $light 50%, $dark 50%, $dark 100%);
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (height: 1000px) and (min-width: 1200px) {
        overflow: hidden;
    }
}
